<header class="mb-3 col-12 col-6 d-flex justify-content-between ">
    <div class="d-flex align-items-center" style="width: 23%;">
        <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </div>
    <div class="d-flex align-items-center">

        <button class="btn btn-outline-dark " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"><i class="fa-solid fa-bars" style="color: #000000;"></i></button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">MENÚ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="">
                    <a href="/movies" class="fs-2 link-secondary text-decoration-none"><i class="fa-solid fa-film"
                            style="color: #000000;"></i>Peliculas</a>
                </div>
                <div class="">
                    <a href="/genres" class="fs-2 link-secondary text-decoration-none"><i
                            class="fa-solid fa-masks-theater" style="color: #000000;"></i>Géneros</a>
                </div>
            </div>
        </div>
    </div>
</header>